*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.encabezado{
    
}

.titulo{
    color:black;
    font-size: 80px;
   text-align: center;
}

.navegador ul {
    list-style-type: none;
}

.navegador ul li {
    color: rgb(0, 0, 0);
    text-decoration: none;
}